node_modules
weather-cli/node_modules
weather-cli/dist
weather-cli/logs
weather-cli/coverage
weather-cli/nyc_output
weather-cli/.vscode
weather-cli/.idea

weather-cli/.env
weather-cli/.env.local
weather-cli/.env.production
weather-cli/.env.test
weather-cli/.env.test.local
weather-cli/.env.test.production
weather-cli/.env.test.test
weather-cli/.env.test.test.local
weather-cli/.env.test.test.production

typescript-clean-architecture-2025-guide.md